/* custom width for slide text */
.slider-caption.slider-caption-center {
  max-width: 1000px;
}
.slide-background-first {
  background-image: asset_url('./images/slider/swiper/10.jpg');
}
.slide-background-second {
  background-image: asset_url('./images/slider/swiper/11.jpg');
  background-position: center top;
}
.footer-address-background {
  background-image: asset_url('./images/world-map.png');
  background-position: center center;
	background-repeat: no-repeat;
  background-size: 100%;
}
