<% content_for :slider do %>
  <!-- Page Title
  ============================================= -->
  <section id="page-title" class="page-title-parallax page-title-dark about-us-slider-background" style="padding: 250px 0" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix">
      <h1>About Us</h1>
      <span>Everything you need to know about our Company</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </div>
  </section><!-- #page-title end -->
<% end %>

<!-- Start: CEO message -->
<div class="container clearfix">
  <div class="col_four_fifth">
    <div class="heading-block">
      <span class="before-heading color">CEO &amp; Co-Founder</span>
      <h3>薄田　達哉</h3>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>
  </div>

  <div class="col_one_fifth col_last">
    <img data-animate="fadeInLeft" src="http://www.lorem-ipsum.jp/img/company/president.jpg" alt="Iphone" class="fadeInLeft animated">
  </div>
  
  <div class="clear"></div>
  <div class="divider"><i class="icon-circle"></i></div>
</div>
<!-- End: CEO message -->

<!-- Start: PHILOSOPHY -->
<div class="container clearfix">
  <div class="heading-block">
    <h3>PHILOSOPHY</h3>
  </div>

  <div class="bottommargin">
    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-power"></i></a>
      </div>
      <h3>お客様に対して</h3>
      <p>情報通信技術を適切に活用し、お客様固有の問題解決に貢献する</p>
    </div>

    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn" data-delay="200">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-check"></i></a>
      </div>
      <h3>地域・社会に対して</h3>
      <p>事業活動の成果やその過程を通じて獲得した知見を公開し、情報通信業の発展に寄与する</p>
    </div>

    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn" data-delay="400">
      <div class="fbox-icon">
        <a href="#"><i class="icon-bulb"></i></a>
      </div>
      <h3>従業員・協力会社に対して</h3>
      <p>仕事の責任と喜びを共有する仲間として、適切な労働環境と正当な報酬を提供する</p>
    </div>
  </div>

  <div class="clear"></div>
  <div class="divider"><i class="icon-circle"></i></div>
</div>
<!-- End: PHILOSOPHY -->

<!-- Start: POLICY -->
<div class="container clearfix">
  <div class="heading-block">
    <h3>POLICY</h3>
  </div>

  <div class="bottommargin">
    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-power"></i></a>
      </div>
      <h3>信頼関係を第一に考える</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    </div>

    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn" data-delay="200">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-check"></i></a>
      </div>
      <h3>人材育成に力を注ぐ</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    </div>

    <div class="feature-box topmargin fadeIn animated" data-animate="fadeIn" data-delay="400">
      <div class="fbox-icon">
        <a href="#"><i class="icon-bulb"></i></a>
      </div>
      <h3>人と人とのつながりを大切にする</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
    </div>
  </div>

  <div class="clear"></div>
  <div class="divider"><i class="icon-circle"></i></div>
</div>
<!-- End: POLICY -->

<!-- Start: Company -->
<div class="container clearfix">
  <div class="heading-block">
    <h3>Company</h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td>
            社名
          </td>
          <td>株式会社ロレムイプサム</td>
        </tr>
        <tr>
          <td>
            所在地
          </td>
          <td>
            【日本法人】〒940-2135 <br/>
              新潟県長岡市深沢町2085番地16 <br/>
              ながおか新産業創造センター ルーム4 <br/><br/>
            【ベトナム法人】 <br/>
              94 Nguyễn Chí Thanh, Hải Châu 1, Q. Hải Châu, Đà Nẵng
          </td>
        </tr>
        <tr>
          <td>
            設立日
          </td>
          <td>2011年06月01日</td>
        </tr>
        <tr>
          <td>
            資本金
          </td>
          <td>【日本法人】1000万円</td>
        </tr>
        <tr>
          <td>
            代表取締役
          </td>
          <td>
            薄田　達哉
          </td>
        </tr>
        <tr>
          <td>
            事業内容
          </td>
          <td>
            1. コンピュータ・システムの企画、設計、開発、販売及び保守に関する業務 <br/>
            2. ウェブサイトの企画、構築、デザイン、制作、運営及び保守に関する業務 <br/>
            3. 情報処理サービス及び情報提供サービス
          </td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td>0258-94-5233</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End: Company -->
